streamlit
pandas
openpyxl
plotly
streamlit-carousel
numpy
st-gsheets-connection
chardet
pytz
duckdb
streamlit-autorefresh
gspread
gspread-dataframe
gspread-formatting
gspread-pandas
google-api-python-client
google-auth
google-auth-oauthlib
altair
pydeck
pyarrow
pillow
matplotlib
reportlab